<section>
    <el-collapse v-model="mixinObject.activeNames">
        <el-collapse-item :title="'gTitleSearchData' | translate('Search Data')" name="1">
            <el-form :inline="true" class="table-line" ref="saaFactorVoFilters" :model="saaFactorVoFilters">
                <table class="tp-table" cellpadding="0" cellspacing="0">
                    <tr>
                        <gv-form-label keyName="saaFactorVoFactorCode" defaultName="Factor Code" :width="3"></gv-form-label>
                        <gv-form-input prop="factorCode" :width="5">
                            <el-input size="mini" v-model.trim="saaFactorVoFilters.factorCode"></el-input>
                        </gv-form-input>
                        <gv-form-label keyName="saaFactorVoFactorType" defaultName="Factor Type" :width="3"></gv-form-label>
                        <gv-form-input prop="dataType" :width="5">
                            <el-input size="mini" v-model.trim="saaFactorVoFilters.dataType"></el-input>
                        </gv-form-input>
                        <gv-form-label :width="8"></gv-form-label>
                    </tr>
                    <tr>
                        <td align="center" colspan="6" class="pdtb2">
                            <el-button size="mini" type="primary" @click="onGetList()">{{ 'gBtnSearch' | translate('Search') }}</el-button>
                            <el-button size="mini" @click="onResetForm('saaFactorVoFilters')">{{ 'gBtnClear' | translate('Clear') }}</el-button>
                        </td>
                    </tr>
                </table>
            </el-form>
        </el-collapse-item>
    </el-collapse>
    <!--工具条-->
    <div class="table-toolbar">
        <el-button size="mini" type="primary" @click="onHandleEdit(null, 'add')">{{ 'gBtnCreate' | translate('Create') }}</el-button>
    </div>
    <!--列表-->
    <template>
        <el-table :data="saaFactorVoList" highlight-current-row border stripe >
            <el-table-column sortable prop="factorCode" :label="'saaFactorVoFactorCode' | translate('Factor Code')">
            </el-table-column>
            <el-table-column sortable prop="dataType" :label="'saaFactorVoFactorType' | translate('Factor Type')">
            </el-table-column>
            <el-table-column sortable prop="factorDesc" :label="'saaFactorVoFactorDesc' | translate('Factor Des')">
            </el-table-column>
            <el-table-column prop="validInd" :label="'gValidStatus' | translate('Valid Status')" width="100">
                <template slot-scope="scope">
                    <el-button @click="onHandleDel(scope.row)" size="mini" :icon="scope.row.validInd=='1'?'el-icon-check':'el-icon-close'"></el-button>
                </template>
            </el-table-column>
            <el-table-column :label="'gTitleOperation' | translate" width="220">
                <template slot-scope="scope">
                    <el-button v-if="scope.row.validInd == '1'" size="mini" type="primary" @click="onHandleEdit(scope.row, 'edit')">{{ 'gBtnEdit' | translate('Edit') }}</el-button>
                    <el-button v-else size="mini" type="primary" @click="onHandleEdit(scope.row, 'edit')" style="visibility:hidden">{{ 'gBtnEdit' | translate('Edit') }}</el-button>
                    <el-button size="mini" type="primary" @click="onHandleEdit(scope.row, 'view')">{{ 'gBtnView' | translate('View') }}</el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>
    <!--分页-->
    <div class="toolbar-btn toolbar-pagination">
        <el-pagination @size-change="onHandleSizeChange" @current-change="onHandleCurrentChange" :page-sizes="[10, 20, 30, 50]" :page-size="mixinObject.searchSet.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="mixinObject.searchSet.total" :current-page.sync="mixinObject.searchSet.currentPage">
        </el-pagination>
    </div>
</section>
