<section>
  <!--查询条件-->
  <gv-form :table="table" class="gv-query-table">
    <div class="clearfix query-title" style="
          padding: 5px 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        ">
      <h1 style="font-size: 10pt; font-family: Arial; font-weight: 700">
        {{'zbCaccountingperiod'|translate('Query results')}}
      </h1>
    </div>


    <div class="gv-row" style="padding-top: 15px;">
      <gv-form-item key-name="period1" isThree="true" prop="policyNo">
        <el-input disabled v-model="table.period"> </el-input>
      </gv-form-item>
      <gv-form-item key-name="switchFlag" isThree="true" prop="policyNo">
        <el-input disabled v-model="table.switchFlag"> </el-input>
      </gv-form-item>
      <!-- 原保险人 requires -->
      <gv-form-item key-name="maintainDate" isThree="true" prop="supplierName">
        <el-date-picker v-model="table.maintainDate" :picker-options="pickerOptions" type="date" placeholder="选择日期">
        </el-date-picker>

      </gv-form-item>
    </div>

    <div class="query-more">
      <div class="query-bottom" style="height: 54px; line-height: 35px">
        <div class="pull-left"></div>
        <div class="pull-right">
          <el-button class="el-button gv-btn gv-btn-primary el-button--primary" @click="adjust"> {{ 'adjust' |
            translate('new')}}</el-button>
          <el-button class="el-button gv-btn gv-btn-warning el-button--default" @click="close"> {{ 'close' |
            translate('new')}} </el-button>
        </div>
      </div>
    </div>
  </gv-form>


  <!-- 查询结果 -->
  <gv-form class="gv-query-table">
    <div class="clearfix query-title" style="
          padding: 5px 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        ">
      <h1 style="font-size: 10pt; font-family: Arial; font-weight: 700">
        {{'Queryresults'|translate('Query results')}}
      </h1>
      <div style="float: right">
        <el-button v-if="this.risk=='OOPD'||this.risk=='CARD'||this.risk=='CARU'"
          class="gv-btn gv-btn-primary gv-btn-xs" type="primary" @click="multiAdd">
          {{ 'gBtnCreate' | translate('New')}}</el-button>
      </div>
    </div>
    <el-table ref="multipleTable" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" stripe
      row-key="planCode">

      <!-- 项目 projectName-->
      <el-table-column :label="'period1' | translate('period1')" prop="period"> </el-table-column>
      <!-- 原保险人 -->
      <el-table-column :label="'switchFlag' | translate('switchFlag')" prop="switchFlag"> </el-table-column>

      <!-- 操作 -->
      <el-table-column :label="'operation' | translate('operation')">
        <!-- 增加 -->
        <template slot-scope="scope">
          <!-- <el-button class="gv-btn gv-btn-primary gv-btn-xs" type="primary" @click='add(scope.row)'>
            {{ 'gBtnCreate' | translate('New')}}</el-button> -->
      </el-table-column>
      </template>
    </el-table>
    <el-pagination style="float: right" @size-change="onHandleSizeChange" @current-change="onHandleCurrentChange"
      :page-sizes="[10, 20, 30, 50]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper"
      :total="tableData.length" :current-page.sync="currentPage">
    </el-pagination>
  </gv-form>

</section>