<section>
  <el-form :model="table" ref="table">
    <el-table id='table' ref='tTable' class="formTable" v-bind="$attrs"
      :data="paging ? table.tableData.slice((table.page.currentPage - 1) * table.page.pageSize, table.page.currentPage * table.page.pageSize) : table.tableData"
      tooltip-effect="dark" @selection-change="handleSelectionChange" :row-key="rowKey">
      <el-table-column v-if='isSelection' type="selection" :reserve-selection="true" width="55">
      </el-table-column>
      <el-table-column v-if='isSerial' type="index" :label="'gNumber'| translate('SequenceNo')" :index='indexMethod' width="55">
      </el-table-column>
      <slot></slot>
    </el-table>
  </el-form>
  <el-row style="padding: 10px 2px;overflow: hidden;">
    <slot name='toolBtn'></slot>
    <el-pagination v-if='paging' style="float: right;" @size-change="onHandleSizeChange" @current-change="onHandleCurrentChange"
      :page-sizes="[10, 20, 30, 50]" :page-size="table.page.pageSize" layout="total, sizes, prev, pager, next, jumper"
      :total="table.tableData.length" :current-page.sync="table.page.currentPage">
    </el-pagination>
  </el-row>
</section>