<div>
  <el-table
    :data="tableData"
    style="width: 100%">
    <el-table-column
      type="selection"
      width="55">
    </el-table-column>
    <el-table-column
      :label="'index' | translate"
      width="100">
      <template slot-scope="scope">
        {{scope.$index+1}}
      </template>
    </el-table-column>
    <el-table-column
      prop="type"
      :label="'fileClassification' | translate">
    </el-table-column>
    <el-table-column
      prop="proposalName"
      :label="'fileName' | translate">
    </el-table-column>
    <el-table-column
      prop="kind"
      :label="'fileType' | translate">
    </el-table-column>
    <el-table-column
      prop="time"
      :label="'uploadTime' | translate">
    </el-table-column>
    <el-table-column
      prop="user"
      :label="'uploader' | translate">
    </el-table-column>
    <el-table-column
      prop="description"
      :label="'remark' | translate">
    </el-table-column>
    <el-table-column
      :label="'gTitleOperation' | translate"
      width="220">
      <template slot-scope="scope">
        <el-button type="primary" class="gv-btn gv-btn-primary gv-btn-xs">{{'gBtnDownLoad' | translate}}</el-button>
        <el-button v-if="!Premium || !NonPremium" type="primary" class="gv-btn gv-btn-primary gv-btn-xs">-</el-button>
      </template>
    </el-table-column>
  </el-table>
  <div style="padding: 15px;">
    <el-button type="primary" class="gv-btn gv-btn-primary gv-btn-xs">+</el-button>
    <el-button type="primary" class="gv-btn gv-btn-primary gv-btn-xs">-</el-button>
  </div>
</div>