<!-- 缴费计划详情组件2 -->
<div>
  <!-- <gv-panel title="缴费计划"> -->
  <el-table :data="tableData" :max-height="maxHeight" style="width: 100%">
    <el-table-column :label="'payer' | translate">
      <template slot-scope="scope">
        {{scope.row.proposalCode}}-{{scope.row.proposalName}}
      </template>
    </el-table-column>
    <el-table-column
      prop="policyVersion"
      width="100"
      :label="'endorsementIndex' | translate"
    >
    </el-table-column>
    <el-table-column prop="periodNum" width="80" :label="'period2' | translate">
    </el-table-column>
    <el-table-column :label="'payEndTime' | translate" width="150">
      <template slot-scope="scope">
        <el-date-picker
          v-model="scope.row.payEndTime"
          @change="((value) => {selectDate(value,scope.row,scope.$index)})"
          type="date"
          :disabled="isReadonly"
          value-format="yyyy-MM-dd"
          :placeholder="isReadonly? '' : '选择日期'"
        >
        </el-date-picker>
      </template>
    </el-table-column>
    <el-table-column :label="'payment' | translate">
      <template slot-scope="scope">
        <el-row>
          <el-col :span="9">
            <gv-select
              size="mini"
              code-type="Currency"
              v-model="scope.row.currency"
              :disabled="true"
            ></gv-select>
          </el-col>
          <el-col :span="14" :offset="1">
            <gv-input
              v-model="scope.row.payment"
              :thou="true"
              num-len="2"
              :readonly="isReadonly"
            ></gv-input>
          </el-col>
        </el-row>
      </template>
    </el-table-column>
    <el-table-column prop="payUp" width="120" :label="'payUp' | translate">
    </el-table-column>
  </el-table>
  <!-- </gv-panel> -->
</div>
