<section>
    <el-collapse v-model="mixinObject.activeNames">
        <el-collapse-item :title="'gTitleSearchData' | translate('Search Data')" name="1">
            <el-form class="table-line" :inline="true" ref="logAuditConfig" :model="logAuditConfig" class="table-line">
                <table class="tp-table" cellpadding="0" cellspacing="0">
                    <tr>
                        <gv-form-label keyName="logAuditConfigTaskCode" defaultName="API Code" :width="3"></gv-form-label>
                        <gv-form-input prop="taskCode" :width="5">
                            <el-input size="mini" v-model.trim="logAuditConfig.taskCode"></el-input>
                            
                            <!-- <el-input size="mini" v-model="logAuditConfig.taskCode"></el-input> -->
                        </gv-form-input>
                        <gv-form-label keyName="logAuditValidInd" defaultName="Log Valid Ind" :width="3"></gv-form-label>
                        <gv-form-input prop="basicLogValid" :width="5">
                            <gv-select size="mini" optionsSet="2" codeType="Validind" v-model="logAuditConfig.basicLogValid"></gv-select>
                            <!-- <el-input size="mini" v-model="logAuditConfig.auditLogValidInd"></el-input> -->
                        </gv-form-input>
                        <gv-form-label keyName="specialLogAuditValidInd" defaultName="Special Valid Ind" :width="3"></gv-form-label>
                        <gv-form-input prop="specialLogValid" :width="5">
                            <gv-select size="mini" optionsSet="2" codeType="Validind" v-model="logAuditConfig.specialLogValid"></gv-select>
                            <!-- <el-input size="mini" v-model="logAuditConfig.specialAuditLogValidInd"></el-input> -->
                        </gv-form-input>
                    </tr>
                    <tr>
                        <td align="center" colspan="6" class="pdtb2">
                            <el-button size="mini" type="primary" @click="onGetList()">{{ 'gBtnSearch' | translate('Search') }}</el-button>
                            <el-button size="mini" @click="onResetForm('logAuditConfig')">{{ 'gBtnClear' | translate('Clear') }}</el-button>
                        </td>
                    </tr>
                </table>
            </el-form>
        </el-collapse-item>
    </el-collapse>
    <!--新增-->
    <div class="table-toolbar">
        <el-button size="mini" type="primary" @click="onHandleEdit(null, 'add')">{{ 'gBtnCreate' | translate('Create') }}</el-button>
    </div>
    <!--列表-->
    <template>
        <el-table :data="logAuditConfigVoList" highlight-current-row border stripe>
            <el-table-column prop="taskCode" :label="'logAuditConfigTaskCode' | translate('API Code')">
            </el-table-column>
            <el-table-column prop="basicLogValid" :formatter="formatValidStatus" :label="'logAuditValidInd' | translate('Log Valid Ind')">
            </el-table-column>
            <el-table-column prop="businessNoKey" :label="'businessNoKey' | translate('Business No Key')">
            </el-table-column>
            <el-table-column prop="specialLogValid" :formatter="formatValidStatus" :label="'specialLogAuditValidInd' | translate('Special Valid Ind')">
            </el-table-column>
            <el-table-column prop="validInd" :label="'auditLogConfigValidInd' | translate('Valid Status')" width="100">
                <template slot-scope="scope">
                    <el-button @click="onHandleDel(scope.row)" size="mini" :icon="scope.row.validInd=='1'?'el-icon-check':'el-icon-close'"></el-button>
                </template>
            </el-table-column>
            <el-table-column :label="'gTitleOperation' | translate('Operation')" width="220">
                <template slot-scope="scope">
                    <el-button v-if="scope.row.validInd == '1'" size="mini" type="primary" @click="onHandleEdit(scope.row, 'edit')">{{ 'gBtnEdit' | translate('Edit') }}</el-button>
                    <el-button v-else size="mini" type="primary" @click="onHandleEdit(scope.row, 'edit')" style="visibility:hidden">{{ 'gBtnEdit' | translate('Edit') }}</el-button>
                    <el-button size="mini" type="primary" @click="onHandleEdit(scope.row, 'view')">{{ 'gBtnView' | translate('View') }}</el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>
    <!-- 分页 -->
    <div class="toolbar-btn toolbar-pagination">
        <el-pagination @size-change="onHandleSizeChange" @current-change="onHandleCurrentChange" :page-sizes="[10, 20, 30, 50]" :page-size="mixinObject.searchSet.pageSize"
            layout="total, sizes, prev, pager, next, jumper" :total="mixinObject.searchSet.total" :current-page.sync="mixinObject.searchSet.currentPage">
        </el-pagination>
    </div>
</section>