<section>
    <el-form class="table-line" ref="form" :model="form" :inline="true" :rules="rules" label-width="109px" @submit.prevent="onSubmit">
        <el-collapse v-model="mixinObject.activeNames">
            <el-collapse-item :title="'gTitleBasics' | translate('Basics Data')" name="1">
                <table class="tp-table" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <gv-form-label keyName="ggMessageModelModelCode" defaultName="Model Code" requires :width="3"></gv-form-label>
                        <gv-form-input prop="modelCode" :width="5">
                            <el-input size="mini" :readonly="query.type != 'add'" v-model="form.modelCode"></el-input>
                        </gv-form-input>
                        <gv-form-label keyName="ggMessageModelModelName" defaultName="Model Name" requires :width="3"></gv-form-label>
                        <gv-form-input prop="modelName" :width="5">
                            <el-input size="mini" :readonly="isReadonly" v-model="form.modelName"></el-input>
                        </gv-form-input>
                        <gv-form-label keyName="ggMessageModelModelType" defaultName="Model Type" requires :width="3"></gv-form-label>
                        <gv-form-input prop="modelType" :width="5">
                            <gv-select size="mini" optionsSet="0" :disabled="isReadonly" codeType="ModelType" v-model="form.modelType"></gv-select>
                        </gv-form-input>
                    </tr>
                    <tr>
                        <gv-form-label keyName="ggMessageModelDataSetType" defaultName="DataSet Type" requires :width="3"></gv-form-label>
                        <gv-form-input prop="dataSetType" :width="5">
                            <gv-select size="mini" optionsSet="0" :disabled="isReadonly" codeType="DataSetType" v-model="form.dataSetType" @change="dataSetTypeChange"></gv-select>
                        </gv-form-input>
                    </tr>
                    <tr>
                        <gv-form-label keyName="ggMessageModelDataSet" defaultName="Data Set" requires :width="3"></gv-form-label>
                        <gv-form-input prop="dataSet" colspan="8" >
                            <el-input size="mini" :readonly="isReadonly || form.dataSetType =='5' " v-model="form.dataSet" @change="addInsertkeys"></el-input>
                        </gv-form-input>
                    </tr>
                    <tr>
                        <gv-form-input prop="ggMessageModelModelContent" colspan="8" >
                        <gv-quill-editor colspan="12" v-model="value" :content="content" :insertkeys="insertkeys" showMessage @change="onEditorChange" ></gv-quill-editor>
                        </gv-form-input>
                    </tr>
                </table>
            </el-collapse-item>

            <el-collapse-item :title="'ggMessageModelParam' | translate('Param')" name="2">
                <el-table :data="ggMessageModelParamList" border >
                    <el-table-column :label="'ggMessageModelModelCode'| translate('Model Code')" width="300">
                        <template scope="scope">
                            <gv-form-input :prop="'ggMessageModelParamList.' + scope.$index + '.modelCode'">
                                <el-input size="mini" readonly v-model="scope.row.modelCode"></el-input>
                            </gv-form-input>
                        </template>
                    </el-table-column>
                    <el-table-column type="index" :label="'SequenceNo'| translate('Sequence No')" width="70"></el-table-column>
                    <el-table-column label-class-name="require-star" :label="'ggMessageModelParamName'| translate('Parameter Name')" width="300">
                        <template scope="scope">
                            <gv-form-input :prop="'ggMessageModelParamList.' + scope.$index + '.paramName'">
                                <el-input size="mini" :readonly="isReadonly" v-model="scope.row.paramName"></el-input>
                            </gv-form-input>
                        </template>
                    </el-table-column>
                    <el-table-column v-if="!isReadonly" :label="'gTitleOperation' | translate('Operation')">
                        <template scope="scope">
                            <el-button size="mini" type="primary" icon="el-icon-minus" @click="onDeletes(scope.$index, ggMessageModelParamList)" class="marf5"></el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="toolbar-btn toolbar-pagination">
                    <el-button size="mini" type="primary" v-if="!isReadonly" :disabled="form.dataSetType !='2' " icon="el-icon-plus" @click="onAdd()" ></el-button>
                </div>
            </el-collapse-item>
        </el-collapse>
<!--         <div class="block mrgt5 toolbar-btn txt-center" v-if="!isDialog" > -->
        <div class="block mrgt5 toolbar-btn txt-center" >
            <el-form-item>
                <el-button size="mini" v-if="query.type!='view'" type="primary" @click.native="onSubmit()">{{ 'gBtnSave' | translate('Save') }}</el-button>
                <el-button size="mini" v-if="query.type!='view'" @click="resetForm('form')">{{ 'gBtnClear' | translate('Clear') }}</el-button>
                <el-button size="mini" @click="returnPage()">{{ 'gBtnClose' | translate('Close') }}</el-button>
            </el-form-item>
        </div>
    </el-form>
</section>    