<section>
    <el-collapse v-model="mixinObject.activeNames">
        <el-collapse-item :title="'gTitleSearchData' | translate('Search Data')" name="1">
            <el-form class="table-line" :inline="true" ref="ggUserGroupVoFilters" :model="ggUserGroupVoFilters" class="table-line">
                <table class="tp-table" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <gv-form-label keyName="userGroupVoUserGroupCode" defaultName="User Group Code" :width="3"></gv-form-label>
                        <gv-form-input prop="userGroupCode" :width="5">
                            <el-input size="mini" v-model.trim="ggUserGroupVoFilters.userGroupCode"></el-input>
                        </gv-form-input>
                        <gv-form-label keyName="userGroupVoUpperUserGroupCode" defaultName="Upper User Group Code" :width="3"></gv-form-label>
                        <gv-form-input prop="upperUserGroupCode" :width="5">
                            <el-input size="mini" v-model.trim="ggUserGroupVoFilters.upperUserGroupCode"></el-input>
                        </gv-form-input>
                        <gv-form-label keyName="userGroupVoUserGroupLevel" defaultName="User Group Level" :width="3"></gv-form-label>
                        <gv-form-input prop="userGroupLevel" :width="5">
                            <el-input size="mini" v-model="ggUserGroupVoFilters.userGroupLevel"></el-input>
                        </gv-form-input>
                    </tr>
                    <tr>
                        <gv-form-label keyName="userGroupVoUserGroupName" defaultName="User Group Name" :width="3"></gv-form-label>
                        <gv-form-input prop="userGroupName" :width="5">
                            <el-input size="mini" v-model="ggUserGroupVoFilters.userGroupName"></el-input>
                        </gv-form-input>
                        <gv-form-label keyName="userGroupVoValidInd" defaultName="ValidInd" :width="3"></gv-form-label>
                        <gv-form-input prop="validInd" :width="5">
                            <gv-select size="mini" optionsSet="1" codeType="ValidInd" v-model="ggUserGroupVoFilters.validInd">
                            </gv-select>
                        </gv-form-input>
                    </tr>
                    <tr>
                        <td align="center" colspan="6">
                            <el-form-item>
                                <el-button size="mini" type="primary" @click="onGetList()">{{ 'gBtnSearch' | translate('Search') }}</el-button>
                                
                                <el-button size="mini" @click="onResetForm('ggUserGroupVoFilters')">{{ 'gBtnClear' | translate('Clear') }}</el-button>
                            </el-form-item>
                        </td>
                    </tr>
                </table>
            </el-form>
        </el-collapse-item>
    </el-collapse>
    <!--工具条-->
    <div class="block table-toolbar">
        <el-button size="mini" type="primary" @click="onHandleEdit(null, 'add')">{{ 'gBtnCreate' | translate('Create') }}</el-button>
    </div>
    <!--列表-->
    <template>
        <el-table :data="userGroupList" highlight-current-row border stripe style="width: 100%;">

            <el-table-column prop="userGroupCode" sortable :label="'userGroupVoUserGroupCode' | translate('User Group Code')">
            </el-table-column>
            <el-table-column prop="upperUserGroupCode" sortable :label="'userGroupVoUpperUserGroupCode' | translate('Upper Group Code')">
            </el-table-column>
            <el-table-column prop="userGroupLevel" sortable :label="'userGroupVoUserGroupLevel' | translate('User Group Level')">
            </el-table-column>
            <el-table-column prop="userGroupName" sortable :label="'userGroupVoUserGroupName' | translate('User Group Name')">
            </el-table-column>
            <el-table-column prop="validInd" :label="'userGroupVoValidInd' | translate('ValidInd')" width="100">
                <template slot-scope="scope">
                    <el-button @click="onHandleDel(scope.row)" size="mini" :icon="scope.row.validInd=='1'?'el-icon-check':'el-icon-close'"></el-button>
                </template>
            </el-table-column>
            <el-table-column :label="'gTitleOperation' | translate('Operation')" width="220">
                <template slot-scope="scope">
                    <el-button v-if="scope.row.validInd == '1'" size="mini" type="primary" @click="onHandleEdit(scope.row, 'edit')">{{ 'gBtnEdit' | translate('Edit') }}</el-button>
                    <el-button v-else size="mini" type="primary" @click="onHandleEdit(scope.row, 'edit')" style="visibility:hidden">{{ 'gBtnEdit' | translate('Edit') }}</el-button>
                    <el-button size="mini" type="primary" @click="onHandleEdit(scope.row, 'view')">{{ 'gBtnView' | translate('View') }}</el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>
    <!--分页-->
    <div class="toolbar-btn toolbar-pagination">
        <el-pagination @size-change="onHandleSizeChange" @current-change="onHandleCurrentChange" :page-sizes="[10, 20, 30, 50]" :page-size="mixinObject.searchSet.pageSize"
            layout="total, sizes, prev, pager, next, jumper" :total="mixinObject.searchSet.total" :current-page.sync="mixinObject.searchSet.currentPage">
        </el-pagination>
    </div>

</section>