<section>
    <el-collapse v-model="mixinObject.activeNames">
        <el-collapse-item :title="'gTitleSearchData' | translate('Search Data')" name="1">
            <!--工具条-->
            <el-form :inline="true" ref="sysUserVoFilters" :model="sysUserVoFilters" class="table-line">
                <table class="tp-table"  cellpadding="0" cellspacing="0">
                    <tr>
                        <gv-form-label keyName="sysUserVoUserCode" defaultName="User Code" :width="3"></gv-form-label>
                        <gv-form-input prop="userCode" :width="5">
                            <el-input size="mini" v-model.trim="sysUserVoFilters.userCode"></el-input>
                        </gv-form-input>
                        <gv-form-label keyName="sysUserVoUserName" defaultName="User Name" :width="3"></gv-form-label>
                        <gv-form-input prop="userName" :width="5">
                            <el-input size="mini" v-model="sysUserVoFilters.userName"></el-input>
                        </gv-form-input>
                        <gv-form-label keyName="gValidStatus" defaultName="Valid Status" :width="3"></gv-form-label>
                        <gv-form-input prop="validStatus" :width="5">
                            <gv-select size="mini" optionsSet="1" codeType="Validind" v-model="sysUserVoFilters.validStatus">
                            </gv-select>
                        </gv-form-input>
                    </tr>
                    <tr>
                        <td align="center" colspan="6" class="pdtb2">
                            <el-button size="mini" type="primary" @click="onGetList()">{{ 'gBtnSearch' | translate('Search') }}</el-button>
                            <el-button size="mini" @click="onResetForm('sysUserVoFilters')">{{ 'gBtnClear' | translate('Clear') }}</el-button>
                        </td>
                    </tr>
                </table>
            </el-form>
        </el-collapse-item>
    </el-collapse>
    <!--工具条-->
    <div class="table-toolbar">
        <el-button size="mini" type="primary" @click="onHandleEdit(null, 'add')">{{ 'gBtnCreate' | translate('Create') }}</el-button>
    </div>
    <!--列表-->
    <template>
        <el-table :data="sysUserVoList" highlight-current-row border stripe >
            <el-table-column prop="userCode" sortable :label="'sysUserVoUserCode' | translate('User Code')">
            </el-table-column>
            <el-table-column prop="userName" sortable :label="'sysUserVoUserName' | translate('User Name')">
            </el-table-column>
            <el-table-column prop="userGroupCode" sortable :label="'userGroupVoUserGroupCode' | translate('User Group Code')">
            </el-table-column>
            <el-table-column prop="companyCode" sortable :label="'ggCompanyVoCompanyCode' | translate('Department Code')">
            </el-table-column>
            <!-- <el-table-column align="right" sortable prop="passwordSetDate" :formatter="formatDate" :label="'sysUserVoPasswordSetDate' | translate('Password Set Date')" width="150" sortable>
            </el-table-column> -->
            <el-table-column align="right" sortable prop="passwordExpireDate" :formatter="formatDate" :label="'sysUserVoPasswordExpireDate' | translate('Password Expire Date')" width="150" sortable>
            </el-table-column>
            <el-table-column prop="validStatus" :label="'gValidStatus' | translate('Valid Status')" width="100">
                <template slot-scope="scope">
                    <el-button @click="onHandleDel(scope.row)" size="mini" :icon="scope.row.validStatus=='1'?'el-icon-check':'el-icon-close'"></el-button>
                </template>
            </el-table-column>
            <el-table-column :label="'gTitleOperation' | translate('Operation')" width="220">
                <template slot-scope="scope">
                    <el-button v-if="scope.row.validStatus == '1'" size="mini" type="primary" @click="onHandleEdit(scope.row, 'edit')">{{ 'gBtnEdit' | translate('Edit') }}</el-button>
                    <el-button v-else size="mini" type="primary" @click="onHandleEdit(scope.row, 'edit')" style="visibility:hidden">{{ 'gBtnEdit' | translate('Edit') }}</el-button>
                    <el-button size="mini" type="primary" @click="onHandleEdit(scope.row, 'view')">{{ 'gBtnView' | translate('View') }}</el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>
    <!--分页-->
    <div class="toolbar-btn toolbar-pagination">
        <el-pagination @size-change="onHandleSizeChange" @current-change="onHandleCurrentChange" :page-sizes="[10, 20, 30, 50]" :page-size="mixinObject.searchSet.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="mixinObject.searchSet.total" :current-page.sync="mixinObject.searchSet.currentPage">
        </el-pagination>
    </div>
</section>
