<section>
  <gv-filter-table ref="table" @on-list-btn="onListBtn" :table="table">
    <template v-slot:search="scope">
      <div class="gv-row">
        <!--挂账日期-->
        <gv-form-item key-name="挂账日期" isThree="true">
          <div style="display: flex">
            <el-form-item prop="acDateStart" style="flex: 1; margin: 0">
              <el-date-picker
                size="small"
                format="MM-yyyy"
                value-format="MM-yyyy"
                v-model="scope.search.acDateStart"
                type="date"
                style="width: 50%"
                class="datetimer"
                :start-placeholder="'startDate'|translate('Start Date')"
                :end-placeholder="'endDate'|translate('End Date')"
              >
              </el-date-picker>
            </el-form-item>
            <div style="width: 10px; text-align: center; line-height: 32px">
              -
            </div>
            <el-form-item prop="acDateDateEnd" style="flex: 1; margin: 0">
              <el-date-picker
                size="small"
                format="MM-yyyy"
                value-format="MM-yyyy"
                v-model="scope.search.acDateDateEnd"
                type="date"
                style="width: 50%"
                class="datetimer"
                :start-placeholder="'startDate'|translate('Start Date')"
                :end-placeholder="'endDate'|translate('End Date')"
              >
              </el-date-picker>
            </el-form-item>
          </div>
        </gv-form-item>

        <!--计算截止日期-->
        <gv-form-item key-name="计算截止日期" isThree="true">
          <div style="display: flex">
            <el-form-item prop="calculateDateStart" style="flex: 1; margin: 0">
              <el-date-picker
                size="small"
                format="dd-MM-yyyy"
                value-format="dd-MM-yyyy"
                v-model="scope.search.calculateDateStart"
                type="date"
                style="width: 50%"
                class="datetimer"
                :start-placeholder="'startDate'|translate('Start Date')"
                :end-placeholder="'endDate'|translate('End Date')"
              >
              </el-date-picker>
            </el-form-item>
            <div style="width: 10px; text-align: center; line-height: 32px">
              -
            </div>
            <el-form-item prop="calculateDateEnd" style="flex: 1; margin: 0">
              <el-date-picker
                size="small"
                format="dd-MM-yyyy"
                value-format="dd-MM-yyyy"
                v-model="scope.search.calculateDateEnd"
                type="date"
                style="width: 50%"
                class="datetimer"
                :start-placeholder="'startDate'|translate('Start Date')"
                :end-placeholder="'endDate'|translate('End Date')"
              >
              </el-date-picker>
            </el-form-item>
          </div>
        </gv-form-item>
      </div>
      <!--dd-MM-yyyy-->
      <!-- <gv-form-item key-name="计算截止日期" isThree="true" prop="period">
        <el-date-picker size="small" format="dd-MM-yyyy" value-format="dd-MM-yyyy"
          v-model="scope.search.acDateDateEnd" type="daterange" class="datetimer"
          :start-placeholder="'startDate'|translate('Start Date')" :end-placeholder="'endDate'|translate('End Date')">
        </el-date-picker>
      </gv-form-item> -->
    </template>
    <!--查询结果-->
    <template v-slot:toolbar="scope">
      <!-- 新增按钮 -->
      <el-button
        class="gv-btn gv-btn-primary gv-btn-xs"
        type="primary"
        @click="gBtnCreate"
      >
        {{'gBtnCreate' | translate}}</el-button
      >
    </template>
  </gv-filter-table>

  <!-- 任务号 -->
  <el-dialog
    append-to-body
    :title="'policyDetails'| translate"
    :visible.sync="settlingCeding"
    width="90%"
    top="7vh"
    :close-on-click-modal="false"
    class="dialogPadding10px"
  >
    <view-upr ref="viewupr" @close="settlingCeding = false"></view-upr>
    <template slot="footer">
      <div style="text-align: center">
        <!-- 关闭 -->
        <el-button
          class="gv-btn gv-btn-back"
          type="primary"
          @click="settlingCeding = false"
          >{{'gBtnClose' | translate}}</el-button
        >
      </div>
    </template>
  </el-dialog>
</section>
